<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h1>About Us</h1>
        <p>Welcome to the About Us page. Here you can learn more about the blog and its creators.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
